[versions]
################# Buildout recipe
zc.buildout = 1.7.1
setuptools = 14.3
collective.recipe.omelette = 0.16
buildout.threatlevel = 1.1

################# Develop Tools
Products.PrintingMailHost = 0.7
sauna.reload =
PyYAML = 3.10
argh = 0.23.0
watchdog = 0.6.0

# Required by:
# watchdog==0.6.0
pathtools = 0.1.2

################# Social
sc.social.like = 1.0.1

################# Education tools
enpraxis.educommons = 4.1.2

################# Forms Generation tools
Products.PloneFormGen = 1.7.12
Products.PythonField = 1.1.3
Products.TALESField = 1.1.3
Products.TemplateFields = 1.2.5

################# Workflow Manager
Products.DCWorkflowGraph = 0.4.1
#plone.app.workflowmanager = 1.0a4
collective.wfautodoc = 1.1

# Required by:
# collective.wfautodoc==1.1
pygraphviz = 1.2


################# Content rules
collective.contentrules.comingsoon = 1.2
collective.contentrules.mailfromfield = 0.2.0
collective.contentrules.mailtogroup = 1.3.1
collective.contentrules.mailtolocalrole = 1.3
collective.contentrules.mailtorole = 1.7
#collective.contentrules.subscription = 0.1.0
collective.contentrules.template = 1.0
sc.contentrules.group = 0.5
sc.contentrules.groupbydate = 2.0b2
sc.contentrules.layout = 1.0
sc.contentrules.localrole = 0.5
sc.contentrules.metadata = 1.0

# Required by:
# collective.contentrules.subscription==0.1.0
#collective.z3cform.norobots = 1.4.2.2

# Required by:
# collective.contentrules.comingsoon==1.2
ecreall.helpers.upgrade = 1.1.1

# Required by:
# collective.contentrules.comingsoon==1.2
plone.api = 1.1.0

################# Contents
collective.loremipsum = 0.6

# Required by:
# collective.loremipsum==0.6
loremipsum = 1.0.2

################# Plone skins theme
quintagroup.theme.estatelite = 6.0.6
quintagroup.theme.lite = 6.0.4
quintagroup.theme.techlight = 6.0.6
quintagroup.theme.whiteblack = 6.0.3

# plumigreen, quintagroup.theme.sunrain

# Required by:
# plonetheme.plumigreen==0.1
# quintagroup.theme.sunrain==6.2
plone.app.themingplugins = 1.0b1

# Required by:
# plone.app.themingplugins==1.0b1
z3c.jbot = 0.7.1

# trantor
# Required by:
# plonetheme.trantor==1.0
webcouturier.dropdownmenu = 2.3.1

# plonetheme.zopeorg
odict = 1.5.1

# Required by:
# collective.collage.portlets==0.3.1
# plonetheme.zopeorg==1.0-dev
Products.Collage = 1.3.10

# Required by:
# plonetheme.zopeorg==1.0-dev
collective.collage.portlets = 0.3.1

# Required by:
# plonetheme.zopeorg==1.0-dev
collective.setuphandlertools = 1.0b4

# Required by:
# plonetheme.zopeorg==1.0-dev
collective.teaser = 2.2

# Required by:
# collective.teaser==2.2
node = 0.9.11

# Required by:
# node==0.9.11
plumber = 1.2

################# Theming tools
collective.fontawesome = 1.0.2
medialog.googlefonts = 1.3.1
Products.ContentWellPortlets = 4.1.0

################# Cover
collective.cover = 1.0a6
plone.tiles = 1.2

# Required by:
# collective.cover==1.0a6
collective.js.bootstrap = 2.3.1.1

# Required by:
# collective.cover==1.0a6
collective.js.galleria = 1.2.5

# Required by:
# collective.cover==1.0a6
plone.app.blocks = 1.0

# Required by:
# plone.app.tiles==1.0.1
plone.app.drafts = 1.0a2

# Required by:
# collective.cover==1.0a6
plone.app.tiles = 1.0.1

################# Plone True Gallery
collective.js.supersized = 0.3.3
collective.easyslider = 1.3.7
collective.plonetruegallery = 3.3.2
collective.ptg.allnewest = 1.2.6
collective.ptg.bootstrapcarousel = 1.0.1
collective.ptg.carousel = 0.2.2
collective.ptg.contactsheet = 1.1.2
collective.ptg.contentflow = 1.0.3
collective.ptg.contentleadimage = 1.0
collective.ptg.easyslider = 0.5.1
collective.ptg.fancybox = 1.0.3
collective.ptg.flickr = 0.1.1
collective.ptg.galleria = 1.3.0
collective.ptg.galleriffic = 1.1.2.1
collective.ptg.galleryfolder = 0.3
collective.ptg.galleryimage = 1.0
collective.ptg.garagedoor = 0.1
collective.ptg.highslide = 1.1.1
collective.ptg.nivogallery = 1.1
collective.ptg.nivoslider = 1.0.6
collective.ptg.picasa = 0.1.1
collective.ptg.pikachoose = 1.0.4
collective.ptg.presentation = 1.1
collective.ptg.quicksand = 0.2.1
collective.ptg.s3slider = 1.1
collective.ptg.scrollable = 0.3
collective.ptg.sheetgallery = 1.2
collective.ptg.shufflegallery = 0.2
collective.ptg.simplegallery = 0.5.4
collective.ptg.supersized = 1.0.4
collective.ptg.thumbnailzoom = 1.0.5.1
collective.ptg.uigallery = 0.1.1

# Required by:
# collective.ptg.contentleadimage==1.0
collective.contentleadimage = 1.3.4

# Required by:
# collective.ptg.flickr==0.1.1
flickrapi = 1.4.2

# Required by:
# collective.ptg.picasa==0.1.1
gdata = 2.0.18

# Required by:
# wildcard.foldercontents==1.2.4
jarn.jsi18n = 0.11

# Required by:
# collective.ptg.galleryfolder==0.3
wildcard.foldercontents = 1.2.4

Products.LinguaPlone = 4.1.3
collective.contentlicensing = 2.2.6
